/* saya ingin membuat body berwarna abu-abu dan fontnya bertipe arial dan sans serif berukuran 16px */
body { 
    background-color: cornsilk;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* membuat canvas putih di tengah */
.container {
    background-color: white;
    margin: auto;
    width: 800px;
}

/* mengatur jarak dalam header  */
.header {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

/* mengatur tulisan judul */
.header .judul {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* untuk navigasi yang diatas */
.nav {
    padding: 0px;
}

.nav li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
}

.nav li a {
    /* unutk menghilangkann garis bawah pada link navigasi dan mengatur warna link navigasi */
    text-decoration: none;
    color: navy;
}

/* membuat animasi saat link disorot */
.nav li a:hover {
    background-color: yellow;
    color: black;
}

/* untuk banner atau gambar pada web  */
.banner {
    height: 100%;
    object-position: 0px;
    width: 800px;
    object-fit: cover;
} 

/* untuk isi atau tulisan di dalamnya */
.isi {
    padding: 20px;
}

.isi h2 {
    font-size: 28px;
    font-weight: bold;
}

.isi .penulis {
    font-size: 14px;
    margin-top: -10px;
}

.isi .penulis a {
    text-decoration: none;
    color: blue;
}

.isi p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* unutk footer  */
.footer {
    background-color: brown;
    height: 50px;
    padding: 2px;
}

.footer .copyright{
    font-size: 16px;
    color: aliceblue;
    text-align: center;
}